:80 {
    handle_path /score/* {
          root * /srv/score
  	}
    handle_path /game/* {
          root * /srv/game
  	}

    file_server {
        hide .git
    }
}

:8080 {
    reverse_proxy app:8080
 }